# Ignore files:
# Compiled python modules.
**.pyc
**.zip
**.tar.gz
**.rar
**.php
**.xls
**.xlsx
**.XLS

# old Files
**.ai
**.dxf
**.txt
**.eml
**.ppt
**.dwg
**.dgn
**.cvx

# Images.
**.jpg
**.JPG
**.png
**.gif
**.tif
**.ppm
**.dxf
**.bmp
**.pcx
**.PCX
**.NEF

# Therion outputs (avec un/ ou non ?).
**.pdf
**.kml
**.kmz
**.lox
**.log
**.xml
**.html
**.sql
**.3d
**.3dmf
**.vrml
**.vtk
**.db
**.sql
**.xvi
**.log
**.dat
**.svg

# Therion shp outputs
**.dbf
**.prj
**.shp
**.shx

# LaTeX
**.aux
**.out
**.synctex.gz

# Descriptions.
**.rtf
**.RTF
**.doc
**.docx

# GIS
**.xml
**.ovr
**.tiff
**.mxd
**.qgs
**.wpt
**.GPX
**.gpx
**.vrt
**.jp2
**.prn
**.dbf
**.qpj
**.trk

# Autres
**.php
**.error2
**.tar.gz
**.backup

# Folders
**/Docs/
**/Scans-Carnets/
!/Samoens-GIS/
/Samoens-GIS/*
#**/Samoens-GIS/
# Exceptions dans le dossier Samoens-GIS
!/Samoens-GIS/dem/IGN_JB_10m-IGN.th
!/Samoens-GIS/dem/IGN_JB_10m-Map.th
!/Samoens-GIS/dem/IGN_JB_10m-Sat.th
!/Samoens-GIS/dem/Carte.jpg
!/Samoens-GIS/dem/IGN_ortho.jpg
!/Samoens-GIS/dem/Sat.jpg


