# Ignore files:
# Compiled python modules.
**.pyc
**.zip
**.tar.gz
**.rar
**.php
**.xls
**.xlsx
**.XLS

# old Files
**.ai
**.dxf
**.txt
**.eml
**.ppt
**.dwg
**.dgn
**.cvx

# Images.
**.jpg
**.JPG
**.png
#**.gif
**.tif
**.ppm
**.dxf
**.bmp
**.pcx
**.PCX
**.NEF

# Therion outputs (avec un/ ou non ?).
**.pdf
**.kml
**.kmz
**.lox
**.log
**.xml
**.html
**.sql
**.3d
**.3dmf
**.vrml
**.vtk
**.db
**.sql
**.xvi
**.log
**.dat
**.svg

# Therion shp outputs
**.dbf
**.prj
**.shp
**.shx
**.sbx
**.sbn

!Legendes_Topos.pdf
config-old.thc

# LaTeX
**.aux
**.out
**.synctex.gz
**.sbn
**.sbx
**.maf
**.mtc
**.mtc0

# Descriptions
**.rtf
**.RTF
**.doc
**.docx

# GIS
**.xml
**.ovr
**.tiff
**.mxd
**.qgs
**.wpt
**.GPX
**.gpx
**.gpi
**.vrt
**.jp2
**.prn
**.dbf
**.qpj
**.trk
**.jgw
**.lyr
**.aux
**.rrd
**.img
**.xml
**.html
**.gxw
**.ini
**.dir
**.dat
**.nit
**.OO1
**.adf
**.TRO
**.swp
**.sbn
**.sdx


# Autres
**.php
**.error2
**.tar.gz
**.backup

# Folders
**/Docs/2017-12-Speleo/
**/Docs/2018-Congres_Samoens/
**/Docs/Colorations/
**/Docs/Livres/
**/Scans-Carnets/
**/Samoens-GIS/dem/IGN_JB.th
**/Samoens-GIS/dem/IGN_JB_5m2.th
**/Samoens-GIS/dem/Samoens.th
**/Samoens-GIS/dem/Samoens/
**/Samoens-GIS/kmz/
**/JB/JB/Donnees-autres/
**/OLD/

# Specific files
**/JB/JB/jb2.th
**/JB/JB/OLD*
**/JB/JB/thconfig-coupe-old

# Exceptions dans le dossier Samoens-GIS
!/Samoens-GIS/dem/IGN_JB_10m-IGN.th
!/Samoens-GIS/dem/IGN_JB_10m-Map.th
!/Samoens-GIS/dem/IGN_JB_10m-Sat.th
!/Samoens-GIS/dem/Carte.jpg
!/Samoens-GIS/dem/IGN_ortho.jpg
!/Samoens-GIS/dem/Sat.jpg
!vulcain.gif
!vulcain2.jpg
!TODO.txt
!JB/Gouffre-JB-problemes.rtf
!Logos/vulcain.jpg
!Logos/vulcainpar2.jpg
!Logos/vulcainpar4.jpg
!Logos/vulcain2.jpg
!Logos/vulcain2par2.jp
!Logos/vulcain2par4.jpg
!Docs/BD-Topo_EV77.pdf


